@import url("/home/diego/.cache/wal/colors-waybar.css"); 


* {
    font-family: "Ubuntu";
    font-size: 18px;
    min-height: 0;
    font-weight: 500;
}

window#waybar {
    background: transparent;
    background-color: rgba(0,0,0,0.4);
    color: @overlay1;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: 0px solid @overlay1
}

#window {
    margin: 8px;
    padding-left: 8;
    padding-right: 8;
    color: @foreground;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 13;
    color: @color4;
}

button:hover {
    background: inherit;
    color: @color6;
    border-top: 2px solid @color6;
}

#workspaces button {
    padding: 0px 11px 0px 4px ;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @color5;
    border-top: 2px solid @color5;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @color1;
    border-top: 0px solid #fdf6e4;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @color4;
    /*box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 13;
    padding : 0px 7px 0px 7px ;
    background-color: rgba(0, 0, 0, 0.3);*/
}

#clock {
    color: @color4;
    border-bottom: 0px solid @mauve;
}

#pulseaudio {
    color: @color4;
    border-bottom: 0px solid @blue;
}

#network {
    color: @color4;
    border-bottom: 0px solid @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: @color4;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @color4;
    /*border-bottom: 0px solid @green;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 13;*/
    padding : 0px 7px 0px 0px ;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

#temperature {
    color: @color4
}

#memory {
    color: @color4
}

#power {
    color: @color4
}

#date {
    color: @color4
}

#mpd {
    color: @color4
}

#custom-power {
    color: @color4
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 1px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 1px;
}

/*#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}*/

#custom-holdings {
	color: @color4
}

#hyprland-window {
	color: @color4
}
